@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /* colors */

    --orange: #f76949;
    --yellow: #f3c30e;
    --blue: #4CE0B3;
    --black: #000;
    --white: #fff;

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.75s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

/*-----------------------------------*\
 * #DEFAULT STYLE
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0; 
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: var(--black);
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a,
img,
span,
data,
input,
button,
ion-icon {
    display: block;
}

/* headings */
h1 {
    font-size: 4em;
    line-height: 1.1;
}

h2 {
    font-size: 3em;
    line-height: 1.1;
}

h3 {
    font-size: 1.75em;
    line-height: 1.2;
    font-weight: 400;
}

h4 {
    font-size: 1.5em;
    line-height: 1.3;
    margin: 2rem 0;
}

p {
    font-size: 1.1em;
    line-height: 1;
}

/* buttons */
.btn-primary {
    padding: 0.75em 2em;
    border-radius: 0.2em;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.4em;
    cursor: pointer;
}

/* links */
.link {
    text-decoration: none;
    color: var(--black);
}


/*-----------------------------------*\
 * #REUSABLE STYLE
\*-----------------------------------*/

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--black);
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4em;
}

.text-centered {
    text-align: center;
}

.padding {
    padding: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.relative {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-----------------------------------*\
 * #GRIDS
\*-----------------------------------*/
.grid-halves {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 2px solid var(--black);
}

.grid-img {
    width: 100%;
}

.hero-sticker {
    position: absolute;
    width: 50em;
    top: -21rem;
    right: -9rem;
    overflow: hidden;
}


.grid-sticker.top-right {
    width: 8em;
    top: 2rem;
    right: -2rem;
}

.grid-sticker.bottom-left {
    width: 12em;
    bottom: 2rem;
    left: -2rem;
}

.grid-sticker.top-left {
    width: 9em;
    top: 2rem;
    left: -2rem;
}

.grid-sticker.bottom-right {
    width: 13em;
    bottom: 2rem;
    right: -2rem;
}

.testimonial-img {
    position: absolute;
    width: 40em;
    top: -25rem;
    right: -9rem;
    overflow: hidden;
}

/*-----------------------------------*\
 * #BACKGROUNDS
\*-----------------------------------*/
.border-right {
    border-right: 2px solid var(--black);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-black {
    background-color: var(--black);
}

.bg-blue {
    background-color: var(--blue);
}

/*-----------------------------------*\
 * #NAVIGATION BAR
\*-----------------------------------*/

nav {
    transition: 0.5sec;
    position: relative;
    width: 100%;
    background: var(--white);
    z-index: 100;
}

nav.scrolled {
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--black);
}


.logo {
    width: 100%;
}

.logo.white {
    display: none;
}

.navbar a:hover {
    color: var(--orange);
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1vw 2vw;
    border-bottom: 2px solid var(--black);
}

.logo-wrapper.scrolled {
    height: 100px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu-left {
    display: flex;
}

.nav-link {
    margin: 0 1.5em;
}

.nav-button-left {
    padding: 1.5em 2em;
    font-size: 1em;
    background-color: var(--white);
    border-left: 2px solid var(--black);
    cursor: pointer;
}

.nav-button-left:first-of-type{
    border-left: none;
}

.nav-button-left:last-of-type {
    border-right: 2px solid var(--black);
}

.nav-button.dark {
    background-color: var(--black);
    color: var(--white);
}

.nav-button-left:hover {
    background-color: var(--blue);
}

.nav-button.dark:hover {
    color: var(--black);

}

.nav-menu-right {
    display: flex;
    align-items: center;
    /* background: var(--orange); */
    padding-right: 1em;
}

.nav-menu-right .active {
    display: flex;
    align-items: center;
    background: var(--orange);
}

.navbar a {
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-button-right {
    padding: 0 1em;
    font-size: 1em;
    background-color: var(--white);
}

.nav-button-right .active {
    color: var(--orange);
}

.menu-button {
    display: none;
}

/*-----------------------------------*\
 * #SEARCH
\*-----------------------------------*/

.search-input {
    display: flex;
    background: var(--white);
    border-top: 2px solid var(--black);
    display: none;
}

.search {
    width: 100%;
    padding: 1.5em 2.1em;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.search:focus {
    outline:none;
}

/*-----------------------------------*\
 * #LOOPING TEXT
\*-----------------------------------*/


.looping-text {
    overflow: hidden;
    background-color: var(--black);
}

.looping-text-content {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 30s linear infinite;
}

.looping-text-heading {
    color: var(--white);
    font-size: 5em;
    white-space: nowrap;
    margin: 0 .25em;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*-----------------------------------*\
 * #FEATURED PRODUCTS
\*-----------------------------------*/
.product-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 25px;
    margin-bottom: 60px;
    padding: 0 4.5em;
}
 
.product-card{
    border: 2px solid var(--black);
    border-radius: 1em;
    overflow: hidden;
}

.card-content {
    padding: 15px 20px;
}


.product-card .card-banner {
    position: relative;
    border-bottom: 2px solid var(--black);
}

.product-card .card-badge {
    background: var(--black);
    color: var(--white);
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.25em;
    padding: 5px 20px;
    border-radius: 50px;
}

.product-card .card-badge.red {
    background: var(--orange);
}

.product-card .card-badge.green {
    background: var(--blue);
}

.product-card .card-actions {
    display: flex;
    height: 120px;
}

.product-card .card-action-btn {
    border: 2px solid var(--black);
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--white);
    color: var(--black);
}

.product-card .card-action-btn:is(:hover, :focus) {
    border-color: var(--black);
}

.product-card .cart-btn {
    flex-grow: 1;
    background: var(--black);
    color: var(--white);
    border-color: var(--black);
}

.product-card .cart-btn:nth-child(2) {
    border-right: none;
    border-left: none;
}

.product-card .cart-btn:is(:hover, :focus) {
    background: var(--white);
    color: var(--black);
}

.product-card .card-action-btn ion-icon {
    font-size: 25px;
}

.product-card .card-title {
    margin-bottom: 5px;
    font-size: 1.5em;
}

.product-card .card-price {
    color: var(--black);
    font-size: 1.25em;
}

.product-card .card-price data:not(:first-child) {
    color: var(--sonic-silver);
    margin-left: 5px;
    text-decoration: line-through;
}

.product .btn {
    margin-inline: auto;
}


/*-----------------------------------*\
 * #CALL TO ACTION
\*-----------------------------------*/

.call-to-action .btn-primary {
    margin-bottom: 5rem;
}

.income-heading {
    font-size: 9em;
}

.income-coin {
    position: absolute;
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/
.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.65fr;
    column-gap: 12em;
    row-gap: 5em;
    padding: 0 4em;
}

.footer-logo {
    width: 18vw;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.footer .heading-2 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.footer-links-wrapper {
    display: flex;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-links a {
    color: var(--white);
    margin-bottom: 0.5em;
}

.footer-links a:hover {
    color: var(--orange);
}

.copyright {
    display: flex;
    align-items: center;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.footer-icon {
    margin-right: 1em; 
    height: 80px;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.footer-social-icon {
    width: 1.5em;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

    /**
   * CUSTOM PROPERTY
   */

    :root {

        /**
     * typography
     */

        --fs-1: 6.25rem;

    }



    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1150px;
    }



    /**
   * HEADER
   */

    .header-search .input-field {
        /* width: 350px; */
    }



    /**
   * PRODUCT
   */

    .product-list>li {
        width: calc(25% - 18.75px);
    }



    /**
   * FOOTER
   */

    .footer-brand {
        width: calc(40% - 30px);
    }

    .footer-text {
        max-width: 340px;
    }

    .footer-list {
        width: calc(20% - 30px);
    }

    .footer-bottom .container {
        justify-content: space-between;
    }

}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
    /**
       * PRODUCT
       */
    
        .product-list>li {
            width: calc(33.33% - 16.66px);
        }
    
        .product-card .card-actions {
            position: absolute;
            bottom: 0px;
            left: 20px;
            right: 20px;
            transform: translateY(100px);
            visibility: hidden;
            transition: var(--transition-1);
        }
    
        .product-card .card-banner {
            overflow: hidden;
        }
    
        .product-card .card-banner:hover .card-actions {
            visibility: visible;
            transform: translateY(15px);
        }
    
        .product-card .card-action-btn:first-child {
            border-radius: 6px 0 0 6px;
        }
    
        .product-card .card-action-btn:last-child {
            border-radius: 0 6px 6px 0;
        }
    
    
    
        /**
       * NEWSLETTER
       */
    
        .newsletter-card .card-form {
            max-width: 650px;
        }

}

@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .loop-outer {
        max-width: none;
        border-radius: 0;
        border-width: 2px 0px;
    }

    .loop-inner {
        border-radius: 1rem;
    }

    .loop-row {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    .grid-halves {
        grid-template-columns: 1fr;
    }

    .border-right {
        border: 0;
        border-bottom: 2px solid var(--black);
    }

    /* navbar */
    .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo-wrapper {
        border: 0;
        padding: 1.5em;
    }

    .logo {
        height: 2rem;
    }

    .nav-menu {
        position: absolute;
        width: 100%;
        top: calc(2rem + 3em);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    /* menu button */
    .menu-button {
        display: block;
        padding: 1.5em;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
    }

    .menu-line {
        width: 2rem;
        height: 2px;
        background-color: var(--black);
        margin-top: 4px;
        margin-bottom: 4px;
        transition: all 0.3s ease-in-out;
    }

    /* navbar: opened */
    .navbar.opened {
        background-color: var(--black);
        border-bottom: 1px solid var(--white);
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }

    .navbar.opened .logo.default {
        display: none;
        opacity: 0;
    }

    .navbar.opened .logo.white {
        display: block;
        opacity: 100;
    }

    .navbar.opened .nav-link,
    .navbar.opened .nav-button {
        padding: 1.5em 3em;
        margin: 0;
        font-size: 1.2em;
        color: var(--white);
        background-color: var(--black);
    }

    .navbar.opened .nav-menu {
        display: flex;
        flex-direction: column-reverse;
        border-top: 1px solid var(--white);
        max-height: 100vh;
        background-color: var(--black);
    }

    .navbar.opened .nav-menu-right {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--white);
    }

    .navbar.opened .nav-menu-left {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.opened .menu-line {
        background-color: var(--white);
    }

    .navbar.opened .menu-line.top {
        transform: translateY(5px) rotateZ(-45deg);
    }

    .navbar.opened .menu-line.bottom {
        transform: translateY(-5px) rotateZ(45deg);
    }
}

@media screen and (max-width: 425px) {
    body {
        font-size: 10px;
    }
}

