.color-orange {
    color: $color-orange;
}

.color-orange-bg {
    background: $color-orange;
}

.color-blue {
    color: $color-blue;
}

.color-blue-bg {
    background: $color-blue;
}

.color-yellow {
    color: $color-yellow;
}

.color-yellow-bg {
    background: $color-yellow;
}