/* Color Template  */
.color-primary{
    color: $color-orange;
}

.color-primary-bg{
    background: $color-orange;
}

.color-second{
    color: $color-yellow;
}

.color-second-bg{
    background: $color-yellow;
}

.color-tertiary{
    color: $color-blue;
}

.color-tertiary-bg{
    background: $color-blue;
}